<p style="font-size:18px; text-align:center;">Welcome to Scilla Back Office</p>
<p>現在時間是 <%= Time.now %></p>
<p>This is the restricted area of Scilla. If you don't believe you should be 
hanging around here, then you probably shouldn't. Please go <a href="http://www.worldvision.org/">here</a>.</p>
<p>您好，這裡是齊樂世界管制區域，非工作人員請勿在此逗留。請盡速<a href="http://www.worldvision.org/">離開</a>。</p>
