<h1>新增商品</h1>

<div class='at-form'>
<% form_for(@style) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit '新增' %>
  </p>
<% end %>
</div>

<%= link_to 'Back', styles_path %>
