<div class='at-form'>
<fieldset>
  <legend>修改廠商資料</legend>
  
<% form_for(@vendor) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit '更新' %>
  </p>
<% end %> 

<%= link_to 'Back', vendors_path %>
