<div class='at-form'>
<fieldset>
  <legend>日結明細</legend>
  
<% form_for(@daily_revenue) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <div><%= f.submit 'Update' %></div>
<% end %> 

</div>