<div class='at-form'>
<fieldset>
  <legend>新增科目</legend>
	
<% form_for(@account) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= f.submit '新增' %>
  </p>
<% end %>	

</div>

<%= link_to 'Back', accounts_path %>